.mineToastFrame>span{
    font-size: 0.13rem;
}
.mineActionSheet{
    background: transparent !important;
}
.mineActionSheet .mint-actionsheet-button{
    background: #F9B371 !important;
    border-radius: 0.04rem;
    font-family: PingFangSC-Semibold;
    font-size: 0.18rem;
    color: #FFFFFF;
    height: 0.45rem;
    width: 3.4rem;
    line-height: 0.45rem;
    margin-left: 0.18rem; 
    border: none;
    margin-top:0.2rem;
    margin-bottom: 0.17rem; 
}
.mineActionSheet .mint-actionsheet-listitem{
    background: #FFFFFF;
    border-radius: 0.04rem;
    font-family: PingFangSC-Semibold;
    font-size: 0.18rem;
    height: 0.45rem;
    width: 3.4rem;
    line-height: 0.45rem;
    margin-left: 0.18rem;
    border: none; 
    color: #333;
}
.v-modal{
    opacity: 0.29 !important;
    background: #646161 !important;
}
.Call .mint-actionsheet-listitem:nth-child(1){
    color: #999999;
    font-size: 0.15rem;
}
.Call .mint-actionsheet-listitem:nth-child(2){
    font-size: 0.18rem;
    color: #429BFD;
}